p{
    margin: 0;
}

.orange{
    color: #888ccc;
    border: 1px solid #33d9ac;
    position: relative;
    top: 30px;
    left: 30px;
}

#zone{
    border: 2px solid #91cda4;
}

/* lorsque la position relative est appliquée sur un élement, cet élement se place ou s'écarte par rapport à lui-même, il s'écarte par rapport à sa position initiale (et non pas par rapport à la div dans laquelle l'élément est contenu, ni le bord, ni la fenêtre).*/
