body{
    background: #cecece url('pokemon_entei.jpg') no-repeat;
    background-size: cover;/* cover en css3 permet de couvrir tout l'écran */
}

.contenu{
    width: 800px;
    height: 500px;
    background-color: rgba(255, 46, 136, 0.3); /* mieux que opacity (car cela n'attenue pas la couleur du texte) */
    margin: 200px auto 0 auto;
}

.contenu p{ /* cela permet de centrer du texte verticalement et horizontalement */
    text-align: center;
    position: relative;
    top: 50%;
}
