ul.fruit{
    list-style-type: none;
}

ul.fruit li{
    float: left;
    margin: 15px;
    background: url(icone3.png) left center no-repeat;
    background-size: contain;
    padding: 0 0 0 20px;
}

hr{
    clear: both;
}
