#conteneur{
    width: 1000px;
    margin: 0 auto;
    border: 2px solid #000000;
}

header{
    background: green;
    height: 100px;
}

nav{
    background: purple;
    height: 30px;
}

section{
    background: yellow;
    height: 500px;
    margin: 20px;
}

footer{
    background: green;
    height: 100px;
}
